.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .footer__links {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    gap: 32px;
  }
}
