.place {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: auto auto;
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: calc(100% - 96px);
    grid-template-columns: 440px auto;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px auto;
    column-gap: 28px;
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 564px) {
  .place {
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  .place {
    grid-template-columns: repeat(auto-fit, 320px);
    max-width: 320px;
    row-gap: 32px;
  }
}
