.place__url {
  display: block;
  margin: 0;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
  text-transform: uppercase;
}
@media screen and (max-width: 320px) {
  .place__url {
    padding: 0 16px 12px 16px;
  }
}
